/* Commont settings to start work */
html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
p {
   padding: 0;
   margin: 0;
}

.common__container {
   max-width: 1500px;
   margin: 0 auto;
}

/* Commont settings to start work */

/* Values which have used in project a lot of times */
:root {
   --main__color: #263238;
   --text__color: #8F95A5;
   --black__color: #000;
   --white__color: #fff;
   --grid__background-color: #F5F5F5;
}

.text-h2 {
   color: var(--black__color);
   font-size: 48px;
   font-weight: 600;
   line-height: 80px;
}

.text-p {
   color: #8F95A5;
   font-size: 20px;
   font-weight: 400;
   line-height: normal;
}

.common__button button {
   background-color: var(--main__color);
   color: var(--white__color);
   font-weight: 400;
   border: none;
}

.common__button button:hover {
   cursor: pointer;
   background-color: var(--white__color);
   color: var(--main__color);
   border: 2px solid var(--main__color);
   transition: .2s all;
}

/* Values which have used in project a lot of times */

/* Start coding styles for header */
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   padding-top: 30px;
}

.header__container {
   max-width: 1500px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
}

.header__container-list {
   display: flex;
   margin-left: 255px;
}

.header__container-list li {
   list-style-type: none;
   margin-right: 39px;
   width: 140px;
   height: auto;
   float: left;
   transition: .2s linear;
   text-align: center;
   position: relative;
   display: block;
   overflow: hidden;
   padding: 15px;
   margin: 0 5px;
   background: transparent;
   font-weight: 900;
   cursor: pointer;
}

.header__container-list li:before {
   position: absolute;
   content: '';
   left: 0;
   bottom: 0;
   height: 4px;
   width: 100%;
   border-bottom: 4px solid transparent;
   border-left: 4px solid transparent;
   box-sizing: border-box;
   transform: translateX(100%);
}

.header__container-list li:after {
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   width: 100%;
   height: 4px;
   border-top: 4px solid transparent;
   border-right: 4px solid transparent;
   box-sizing: border-box;
   transform: translateX(-100%);
}


.header__container-list li:hover {
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
.header__container-list li:hover:before {
   border-color: #262626;
   height: 100%;
   transform: translateX(0);
   transition: .3s transform linear, .3s height linear .3s;
}
.header__container-list li:hover:after {
   border-color: #262626;
   height: 100%;
   transform: translateX(0);
   transition: .3s transform linear, .3s height linear .5s;
}
*/
.header__container-list li .header__container-list li:last-child {
   margin-right: 245px;
}

.header__container-list li a {
   text-decoration: none;
   color: var(--main__color);
   font-size: 20px;
   font-weight: 500;
}

.header__container-button button {
   width: 220px;
   height: 70px;
   border: 2px solid var(--main__color);
   border-radius: 5px;
   font-size: 24px;
   font-weight: 400;
   line-height: normal;
   background-color: var(--white__color);
   margin-left: 100px;
}

.header__container-button button:hover {
   cursor: pointer;
   background-color: var(--main__color);
   color: var(--white__color);
   transition: .2s all;
}

.common__container-line {
   background-color: var(--main__color);
   width: 100%;
   height: 1px;
}

/* Finish coding styles for header */

/* Start coding styles for section with woman */
.woman {
   padding-top: 100px;
   padding-bottom: 103px;
}

.woman__container {
   display: flex;
   align-items: end;
   justify-content: space-between;
}

.woman__container-mini {
   display: flex;
}

.woman__container-mini-title {
   font-size: 64px;
   font-weight: 600;
   line-height: 80px;
   max-width: 386px;
   margin-bottom: 40px;
}

.woman__container-mini span {
   color: var(--white__color);
}

.woman__container-mini img {
   text-align: end;
   margin-left: 38px;
   padding-top: 60px;
}

.woman__container-left-text {
   color: var(--text__color);
   font-size: 24px;
   font-weight: 400;
   max-width: 632px;
   margin-bottom: 61px;
   /*margin-right: 57px;*/
}

.woman__container-left-button button {
   width: 438px;
   height: 118px;
   border-radius: 15px;
   font-size: 36px;
   font-weight: 400;
   border: none;
}

/* Finish coding styles for section with woman */

/* Start coding styles for section with grid */
.grid__h2 {
   margin: 0 auto;
   text-align: center;
   margin-bottom: 96px;
}

/* Grid */
.grid__container {
   margin: 0 auto;
   width: 100%;
}

.grid__container-whole {
   display: grid;
   gap: 18px;
   grid-template-areas:
      "one two three"
      "one four four";
   justify-content: space-evenly;
   align-items: stretch;
   margin-bottom: 250px;
}

.grid__container-item {
   background-color: var(--grid__background-color);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-left: 43px;
   box-shadow: 20px 20px 100px #bdbdbd,
      -20px -20px 100px #ffffff;
}

/* Setting up speaking */
.speaking {
   grid-area: one;
}

.speaking .grid__item-picture {
   padding-left: 20px;
   padding-right: 50px;
}

.speaking .grid__item-text {
   margin-bottom: 30px;
   max-width: 360px;
}

.speaking .grid__item-text-2 {
   max-width: 360px;
}

.speaking .grid__item-button {
   padding-bottom: 92px;
   padding-top: 36px;
}

/* Setting up writing */
.writing {
   grid-area: two;
   padding-bottom: 44px;
}

.writing .grid__item-picture {
   text-align: end;
}

.writing .grid__item-text {
   padding-bottom: 33px;
   max-width: 360px;
}

/* Setting up reading */
.reading {
   grid-area: three;
   padding-bottom: 44px;
}

.reading .grid__item-picture {
   text-align: startx;
}

.reading .grid__item-text {
   padding-bottom: 33px;
   max-width: 360px;
}

/* Setting up listening */
.listening {
   grid-area: four;
   flex-direction: row;
   padding-bottom: 68px;
}

.listening .grid__item-picture {
   order: 1;
   padding-top: 30px;
}

.listening .grid__item-title {
   margin-top: 43px;
}

.listening .grid__item-text {
   padding-bottom: 25px;
}

.grid__item-title {
   color: var(--main__color);
   font-size: 30px;
   font-weight: 600;
   line-height: 80px;
   margin-bottom: 5px;
}

.grid__item-text,
.grid__item-text-2 {
   color: var(--text__color);
   font-size: 16px;
   font-weight: 400;
   line-height: normal;
}

.grid__item-button button {
   width: 230px;
   height: 60px;
   border-radius: 5px;
   font-size: 20px;
   font-weight: 500;
   line-height: normal;
}

.grid__item-button button:hover {
   transition: .1s all;
}

/* Finish coding styles for section with grid */

/* Start coding section about */
.about__container {
   display: flex;
   justify-content: space-between;
}

.about__content-title {
   margin-bottom: 23px;
}

.about__content-text {
   padding-bottom: 40px;
   max-width: 600px;
}

.about__container-data {
   display: flex;
}

.about__data-item {
   margin-right: 163px;
   text-align: center;
}

.about__data-number {
   color: var(--main__color);
   font-size: 48px;
   font-weight: 600;
   line-height: 80px;
}

.about__data-text {
   color: var(--text__color);
   font-size: 20px;
   font-weight: 400;
}

/* Finish coding section about */

/* Start coding style for section price */
.price {
   margin-top: 188px;
   padding-bottom: 257px;
}

.price__container-title {
   text-align: center;
   margin: 0 auto;
   margin-bottom: 57px;
}

.price__container-css {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.price__css-picture {
   text-align: center;
}

.first__item .price__css-title {
   color: var(--main__color);
   font-size: 30px;
   font-weight: 600;
   line-height: 48px;
   margin-top: 40px;
   margin-bottom: 20px;
}

.second__item .price__css-title {
   color: var(--main__color);
   font-size: 30px;
   font-weight: 600;
   line-height: 48px;
   margin-top: 68px;
   margin-bottom: 20px;
}

.third__item .price__css-title {
   color: var(--main__color);
   font-size: 30px;
   font-weight: 600;
   line-height: 48px;
   margin-top: 10px;
   margin-bottom: 20px;
}

.price__css-text {
   max-width: 435px;
   height: 90px;
   margin-bottom: 29px;
}

.price__css-sale {
   display: flex;
   align-items: center;
   background-color: var(--grid__background-color);
   width: 240px;
   height: 45px;
   padding-left: 18px;
   padding-right: 24px;
   cursor: pointer;
}

.price__css-sale:hover {
   opacity: 60%;
}

.price__css-sale-number {
   color: var(--main__color);
   font-size: 30px;
   font-weight: 400;
}

.price__css-sale-text {
   color: var(--text__color);
   font-size: 18px;
   font-weight: 400;
   margin-left: 4px;
}

/* Finish coding style for section price */

/* Start coding styles for section with input */
.input__content {
   display: flex;
   align-items: start;
   justify-content: space-between;
}

.input__content img {
   width: 477px;
   height: 429px;
}

.input__content-right-title {
   margin-bottom: 33px;
}

.input__content-right-text {
   margin-bottom: 52px;
   max-width: 770px;
}

.input__content-right-sub {
   display: flex;
}

.input__content-right-sub-input {
   width: 450px;
   height: 80px;
   border-radius: 10px;
   border: 2px solid var(--text__color);
   padding: 26px 0 30px 30px;
   color: var(--text__color);
   font-size: 16px;
   font-weight: 400;
   margin-right: 12px;
}

.input__content-right-sub-button button {
   width: 264px;
   height: 80px;
   color: var(--white__color);
   font-size: 20px;
   font-weight: 500;
   border-radius: 10px;
}

/* Finish coding styles for section with input */

/* Start coding styles for footer of a website */
.footer {
   margin-top: 133px;
   padding-bottom: 40px;
}

.footer__container-line {
   margin-bottom: 31px;
}

.footer__content {
   display: flex;
   justify-content: space-between;
}

.footer__content-right {
   display: flex;
}

.footer__content-right a {
   text-decoration: none;
   margin-left: 10px;
   color: var(--text__color);
   font-size: 24px;
   font-weight: 400;
}

.footer__content-right a:hover {
   opacity: 80%;
}

/* Finish coding styles for footer of a website */

/* Start making responsive for 1500 px screens */
@media screen and (max-width: 1550px) {
   html {
      padding-right: 20px;
      padding-left: 20px;
   }

   .common__container {
      max-width: 1500px;
   }

   .header__container-list li a {
      font-size: 18px;
   }
}

/* Start making responsive for 1500 px screens */

/* Start making responsive for 1400 px screens */
@media screen and (max-width: 1400px) {

   .common__container {
      max-width: 1350px;
      margin: 20px auto;
   }

   .header__container-list {
      margin-left: 50px;
   }

   .header__container-list li {
      margin-right: 30px;
   }

   .header__container-list li a {
      font-size: 17px;
   }

   .header__container-button button {
      width: 180px;
      height: 60px;
      font-size: 20px;
   }

   .woman__container-img {
      width: 540px;
      height: 540px;
   }
}

/* Start making responsive for 1400 px screens */

/* Start optimizing website for 1200 px */
@media screen and (max-width: 1200px) {

   .common__container {
      max-width: 1150px;
      margin: 0 auto;
   }

}

/* Finish optimizing website for 1200 px */

/* Start optimizing website for 1100 px */
@media screen and (max-width: 1100px) {
   .common__container {
      max-width: 1050px;
      margin: 0 auto;
   }

   .header__container-list {
      margin-left: 10px;
   }

   .header__container-list li {
      width: 100px;
   }

   .header__container-list li a {
      font-size: 14px;
   }

   .header__container-list a {
      font-size: 16px;
      line-height: 24px;
   }

   .header__container-button button {
      width: 140px;
      height: 50px;
   }
}

/* Finish optimizing website for 1320 px */

/* Start optimizing website for 992 px screens */
@media screen and (max-width: 992px) {

   .common__container {
      max-width: 980px;
      margin: 0 auto;
   }

   .text-h2 {
      font-size: 36px;
   }

   .text-p {
      font-size: 16px;
   }

   .header__container {
      max-width: 930px;
      margin: 0 auto;
   }

   .header__container-list li a {
      font-size: 16px;
   }

   .header__container-button button {
      width: 160px;
      height: 50px;
      font-size: 16px;
   }

   .woman__container-mini-title {
      font-size: 48px;
   }

   .woman__container-mini img {
      width: 58px;
      height: 58px;
   }

   .woman__container-left-text {
      font-size: 18px;
   }

   .woman__container-left-button {
      width: 292px;
      height: 80px;
      font-size: 24px;
   }

   .woman__container-img {
      width: 440px;
      height: 440px;

   }

   .grid__container-whole {
      gap: 13px;
   }

   .grid__item-title {
      font-size: 22px;
   }

   .grid__item-text,
   .grid__item-text-2 {
      font-size: 14px;
   }

   .grid__item-button button {
      width: 196px;
      height: 57px;
   }

   .about__data-number {
      font-size: 30px;
   }

   .about__container-picture {
      width: 336px;
      height: 336px;
   }

   .pic-first {
      width: 222px;
      height: 222px;
   }

   .pic-second {
      width: 267px;
      height: 195px;
   }

   .pic-third {
      width: 242px;
      height: 242px;
   }

   .price__css-title {
      font-size: 16px;
   }

   .price__css-sale-number {
      font-size: 24px;
   }

   .price__css-sale-text {
      font-size: 16px;
   }

   .input__content img {
      width: 312px;
      height: 281px;
   }

   .input__content-right-sub-input {
      width: 323px;
      height: 60px;
      font-size: 14px;
   }

   .input__content-right-sub-button button {
      width: 193px;
      height: 60px;
      font-size: 16px;
   }

   .footer__content-right a {
      font-size: 16px;
   }
}

/* Finish optimizing website for 992 px screen */

/* Start making optimize for 767 px screens */
@media screen and (max-width: 767px) {
   .common__container {
      max-width: 720px;
      margin: 0 auto;
   }

   .text-h2 {
      font-size: 30px;
   }

   .text-p {
      font-size: 14px;
   }

   .header__container {
      max-width: 720px;
      margin: 0 auto;
   }

   .header__container-list li a {
      font-size: 16px;
   }

   .header__container-button button {
      width: 160px;
      height: 50px;
      font-size: 16px;
   }

   .woman__container {
      align-items: start;
   }

   .woman__container-mini-title {
      font-size: 36px;
   }

   .woman__container-mini img {
      width: 50px;
      height: 50px;
   }

   .woman__container-left-text {
      font-size: 16px;
   }

   .woman__container-left-button {
      width: 236px;
      height: 65px;
      font-size: 18px;
   }

   .woman__container-img {
      width: 352px;
      height: 352px;

   }

   .grid__container-whole {
      gap: 10px;
   }

   .grid__item-title {
      font-size: 20px;
   }

   .grid__item-text,
   .grid__item-text-2 {
      font-size: 13px;
   }

   .grid__item-button button {
      width: 178px;
      height: 50px;
   }

   .about__data-number {
      font-size: 30px;
   }

   .about__container-picture {
      width: 295px;
      height: 295px;
   }

   .pic-first {
      width: 197px;
      height: 197px;
   }

   .pic-second {
      width: 219px;
      height: 168px;
   }

   .pic-third {
      width: 210px;
      height: 210px;
   }

   .price__css-title {
      font-size: 16px;
   }

   .price__css-sale-number {
      font-size: 20px;
   }

   .price__css-sale-text {
      font-size: 16px;
   }

   .input__content img {
      width: 233px;
      height: 210px;
   }

   .input__content-right-sub-input {
      width: 283px;
      height: 50px;
      font-size: 12px;
   }

   .input__content-right-sub-button button {
      width: 145px;
      height: 50px;
      font-size: 13px;
   }

   .footer__content-right a {
      font-size: 13px;
   }
}

/* Finish making optimize for 767 px screens */



/* Start coding optimize website for 575 px screen */
/*@media screen and (max-width: 575px) {
   .common__container {
      max-width: 500px;
      margin: 0 auto;
   }

   .grid__container-whole {
      grid-template-areas:
         "one" "two"
         "three" "four";
   }
}
/* Finish coding optimize website for 575 px screen */