/* Commont settings to start work */
html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
p {
   padding: 0;
   margin: 0;
}

.common__container {
   max-width: 1500px;
   margin: 0 auto;
}

/* Commont settings to start work */

/* Values which have used in project a lot of times */
:root {
   --main__color: #263238;
   --text__color: #8F95A5;
   --black__color: #000;
   --white__color: #fff;
   --grid__background-color: #F5F5F5;
}

.text-h2 {
   color: var(--black__color);
   font-size: 48px;
   font-weight: 600;
   line-height: 80px;
}

.text-p {
   color: #8F95A5;
   font-size: 20px;
   font-weight: 400;
   line-height: normal;
}

.common__button button {
   background-color: var(--main__color);
   color: var(--white__color);
   font-weight: 400;
   border: none;
}

.common__button button:hover {
   cursor: pointer;
   background-color: var(--white__color);
   color: var(--main__color);
   border: 2px solid var(--main__color);
   transition: .2s all;
}

/* Values which have used in project a lot of times */

/* Start coding styles for header */
.header {
   padding-top: 57px;
}

.header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 40px;
}

.header__container-list {
   display: flex;
   margin-left: 255px;
}

.header__container-list li {
   list-style-type: none;
   margin-right: 39px;
}

.header__container-list li:last-child {
   margin-right: 245px;
}

.header__container-list li a {
   text-decoration: none;
   color: var(--main__color);
   font-size: 20px;
   font-weight: 500;
}

.header__container-button button {
   width: 220px;
   height: 70px;
   border: 2px solid var(--main__color);
   border-radius: 5px;
   font-size: 24px;
   font-weight: 400;
   line-height: normal;
   background-color: var(--white__color);
}

.header__container-button button:hover {
   cursor: pointer;
   background-color: var(--main__color);
   color: var(--white__color);
   transition: .2s all;
}

.common__container-line {
   background-color: var(--main__color);
   width: 1500px;
   height: 1px;
}

/* Finish coding styles for header */

/* Start coding styles for section with woman */
.woman {
   padding-top: 51px;
   padding-bottom: 103px;
}

.woman__container {
   display: flex;
   align-items: end;
   justify-content: space-between;
}

.woman__container-mini {
   display: flex;
}

.woman__container-mini-title {
   font-size: 64px;
   font-weight: 600;
   line-height: 80px;
   max-width: 386px;
   margin-bottom: 40px;
}

.woman__container-mini span {
   color: var(--white__color);
}

.woman__container-mini img {
   text-align: end;
   margin-left: 38px;
   padding-top: 60px;
}

.woman__container-left-text {
   color: var(--text__color);
   font-size: 24px;
   font-weight: 400;
   max-width: 632px;
   margin-bottom: 61px;
   /*margin-right: 57px;*/
}

.woman__container-left-button button {
   width: 438px;
   height: 118px;
   border-radius: 15px;
   font-size: 36px;
   font-weight: 400;
   border: none;
}

/* Finish coding styles for section with woman */

/* Start coding styles for section with grid */
.grid__h2 {
   margin: 0 auto;
   text-align: center;
   margin-bottom: 96px;
}

/* Grid */
.grid__container {
   width: 100%;
}

.grid__container-whole {
   display: grid;
   gap: 18px;
   grid-template-areas:
      "one two three"
      "one four four";
   justify-content: space-evenly;
   align-items: stretch;
   margin-bottom: 250px;
}

.grid__container-item {
   background-color: var(--grid__background-color);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-left: 43px;
}

/* Setting up speaking */
.speaking {
   grid-area: one;
}

.speaking .grid__item-picture {
   padding-left: 20px;
   padding-right: 50px;
}

.speaking .grid__item-text {
   margin-bottom: 30px;
   max-width: 360px;
}

.speaking .grid__item-text-2 {
   max-width: 360px;
}

.speaking .grid__item-button {
   padding-bottom: 92px;
   padding-top: 36px;
}

/* Setting up writing */
.writing {
   grid-area: two;
   padding-bottom: 44px;
}

.writing .grid__item-picture {
   text-align: end;
}

.writing .grid__item-text {
   padding-bottom: 33px;
   max-width: 360px;
}

/* Setting up reading */
.reading {
   grid-area: three;
   padding-bottom: 44px;
}

.reading .grid__item-picture {
   text-align: startx;
}

.reading .grid__item-text {
   padding-bottom: 33px;
   max-width: 360px;
}

/* Setting up listening */
.listening {
   grid-area: four;
   flex-direction: row;
   padding-bottom: 68px;
}

.listening .grid__item-picture {
   order: 1;
   padding-top: 30px;
}

.listening .grid__item-title {
   margin-top: 43px;
}

.listening .grid__item-text {
   padding-bottom: 25px;
}

.grid__item-title {
   color: var(--main__color);
   font-size: 30px;
   font-weight: 600;
   line-height: 80px;
   margin-bottom: 5px;
}

.grid__item-text,
.grid__item-text-2 {
   color: var(--text__color);
   font-size: 16px;
   font-weight: 400;
   line-height: normal;
}

.grid__item-button button {
   width: 230px;
   height: 60px;
   border-radius: 5px;
   font-size: 20px;
   font-weight: 500;
   line-height: normal;
}

.grid__item-button button:hover {
   transition: .1s all;
}

/* Finish coding styles for section with grid */

/* Start coding section about */
.about__container {
   display: flex;
   justify-content: space-between;
}

.about__content-title {
   margin-bottom: 23px;
}

.about__content-text {
   padding-bottom: 40px;
   max-width: 600px;
}

.about__container-data {
   display: flex;
}

.about__data-item {
   margin-right: 163px;
   text-align: center;
}

.about__data-number {
   color: var(--main__color);
   font-size: 48px;
   font-weight: 600;
   line-height: 80px;
}

.about__data-text {
   color: var(--text__color);
   font-size: 20px;
   font-weight: 400;
}

/* Finish coding section about */

/*  */